
/* Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
*/
.flash-message {
	position: absolute;
    z-index: 10;
    bottom: 100px;
    right: 5px;
}